.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../storage/intro-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-inner > .carousel-item > img {
  margin: auto;
}

.carousel-landing {
  width: 50vw;
  height: 50vh;
  margin: auto;
}

.h80 {
  height: 65vh;
}

.btn-danger-un, .btn-success-un {
  border-radius: 40px;
}

.img-bulat {
  border-radius: 10px;
}

.nama-komunitas {
  border-radius: 10px;
  border: 1px solid #fff;
}

.bg-putih {
  background: #F2F2F2;
}

.card {
  border: 1px solid #8DB5F6;
}